// 背景颜色
$background: #ffffff;
$background-d: #f4f8fb;

// 颜色定义规范
$color-theme: #58b7ff; // 正脉 主题色
$color-theme-d: #20a0ff; // 正脉蓝 辅色


$font-family: 'Segoe UI', 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
